@font-face {
  font-family: 'Shrikhand Regular';
  src: url('@/assets/fonts/Shrikhand-Regular.ttf');
}

@font-face {
  font-family: 'LeagueSpartan Regular';
  src: url('@/assets/fonts/LeagueSpartan-Regular.ttf');
}
