@font-face {
  font-family: Spartan;
  src: url("/assets/fonts/LeagueSpartan-Regular.ttf");
}

.ocean {
  --box-color-1: #03045e;
  --box-color-2: #023e8a;
  --box-color-3: #0077b6;
  --box-color-4: #0096c7;
  --box-color-5: #00b4d8;
  --box-color-6: #48cae4;
  --box-color-7: #90e0ef;
  --box-color-8: #ade8f4;
  --box-color-9: #caf0f8;
  --box-color-10: #ffffff;
}

.coffee {
  --box-color-1: #fefae0;
  --box-color-2: #fdf7dc;
  --box-color-3: #fcf4d7;
  --box-color-4: #faedcd;
  --box-color-5: #f6e4c2;
  --box-color-6: #f1dbb7;
  --box-color-7: #e7c8a0;
  --box-color-8: #deb68a;
  --box-color-9: #dcb285;
  --box-color-10: #daad80;
}

.funky {
  --box-color-1: #ffd166;
  --box-color-2: #ef476f;
  --box-color-3: #06d6a0;
  --box-color-4: #118ab2;
  --box-color-5: #073b4c;
  --box-color-6: #ffef86;
  --box-color-7: #ffd166;
  --box-color-8: #ef476f;
  --box-color-9: #06d6a0;
  --box-color-10: #118ab2;
}

.night {
  --box-color-1: #333a3a;
  --box-color-2: #251f20;
  --box-color-3: #323a3a;
  --box-color-4: #070808;
  --box-color-5: #251f20;
  --box-color-6: #251f20;
  --box-color-7: #6e5e61;
  --box-color-8: #5c4e50;
  --box-color-9: #302829;
  --box-color-10: #e0e0e0;
}

input[type="radio"] {
  display: none;
}

body {
  font-family: Spartan, Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f5faec;
}

.logo-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
}

.theme-toggle,
.footer-link-wrapper {
  background-color: white;
  border-radius: 25px;
  height: 30px;
  height: 30px;
}

.theme-toggle {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999999;
}

.theme-button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.theme-button:before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 100%;
}

.theme-ocean:before {
  background-color: #0077b6;
}

.theme-coffee:before {
  background-color: #f6e4c2;
}

.theme-funky:before {
  background-color: #ef476f;
}

.theme-night:before {
  background-color: #5c4e50;
}

.theme-button.checked {
  background-color: lightgray;
}

.theme-button:hover,
.theme-button:focus {
  background-color: lightgray;
}

.image-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container svg {
  width: 80vw;
}

.box-row {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 10vw;
  height: 10vw;
  transition: background-color 2.5s linear;
}

.box-1 {
  background-color: var(--box-color-1);
}

.box-2 {
  background-color: var(--box-color-2);
}

.box-3 {
  background-color: var(--box-color-3);
}

.box-4 {
  background-color: var(--box-color-4);
}

.box-5 {
  background-color: var(--box-color-5);
}

.box-6 {
  background-color: var(--box-color-6);
}

.box-7 {
  background-color: var(--box-color-7);
}

.box-8 {
  background-color: var(--box-color-8);
}

.box-9 {
  background-color: var(--box-color-9);
}

.box-10 {
  background-color: var(--box-color-10);
}

footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  bottom: 10px;
  right: 10px;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
  border-radius: 25px;
  height: 10px;
  padding: 10px;
}

footer a:hover,
footer a:focus {
  background-color: lightgray;
}

footer a + a {
  margin-left: 10px;
}

.footer-link-wrapper {
  display: flex;
  align-items: center;
}
